
@model IEnumerable<Ecom.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Categores</h2>
<p>
    @Html.ActionLink("Create New", "New")
</p>
@if (!Model.Any())
{
    <p>we don't have any category</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Categories</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cate in Model)
        {
            <tr>
                <td>@Html.ActionLink(cate.Name, "Edit" , new {id= cate.Id})</td>
                <td>@cate.Description</td>
            </tr>
            
            
        }
        </tbody>
    </table>
}

